
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-templete {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
  
}

.nav-title{
    font-weight: 800;
    font-size:34px;
    color: #4E47FF;


}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;


}

.header{
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    
}

.div-templete{
    
        justify-items: center;
        padding: 120px;
}

.action{
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    padding: 50px;
}
.webmini{
    border-radius: 35px;
    width: 100%;
    padding-right: 0;

}
.action-para
{
    color: #252432;
}

    